
:root {
    --height-navbar: 6vh;
    --white: #ffffff;
    --bg-color: #848484;
    --text-color: #fff;
    --orange-color: rgb(255, 165, 0);
    --circle-color-outer: rgb(255, 189, 65);
    --circle-color-inner: rgb(219, 99, 55);
    --dark-color: #1B1B1B;
    /* --circle-color-inner: #b0e633;
    --circle-color-outer: #53ef7d; */
    --dark-orange-color: orangered;
    --modal-color:rgb(64,64,64);
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Monospace", monospace;
}

body{
    text-align: center;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.navbar-info, .navbar-main{
    position: fixed;
    width: 100vw;
    height: var(--height-navbar);
    z-index: 11;
}
.navbar-main{
    top: var(--height-navbar);
}
.navbar-info{
    top: 0;
}

.navbar h2{
    font-size: 10px;
}

.navbar-info span{
    background: blue;
    border-radius: 5px;
}
.navbar-info a{
    text-decoration: none;
}

.navbar-main .brand-name{
    margin-left: 60px;
    color: var(--text-color);
    padding: 5px;
    border-radius: 5px;
}

.navbar-main .brand-name:hover{
    cursor: pointer;
    color: var(--orange-color);
    transition: 1s;
}

.navbar-main img{
    position: absolute;
    top: calc(-1/4 * var(--height-navbar));
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.navbar-main img:hover{
    cursor: pointer;
}
.navbar-utils{
    display: flex;
    flex-direction: row;
    width: 30vw;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(255, 165, 0, 0.2);
    height: 100%;
}
.navbar-phone, .navbar-mail,.navbar-open, .navbar-sm{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
        
}
.navbar-phone h2, .navbar-mail h2,.navbar-open h2{
    margin-left: 10px;  height: 400px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
    z-index: 4;
    
   
}
.navbar-phone h2 a, .navbar-mail h2 a ,.navbar-open h2 a{
    color: var(--orange-color);

}
.navbar-sm ion-icon{
    margin-left: 5px;
}
.navbar-sm a{
    color: white;
}
.navbar-sm a:hover{
    color: var(--orange-color);
}
/* .navbar-main:hover{
    background-color: rgb(0,0,0);
    transition: 1000ms;
} */
.brand-name{
    display: flex;
    justify-content: space-between;
    color: var(--orange-color);
    text-decoration: none;
    margin-left: 20px;
}
.brand-name h1{
    font-size: 15px;
}
.brand-name:hover{
    color: var(--text-color);
    text-decoration: none;
    transition: .5s;
}

.nav-item:hover{
    color: var(--orange-color);
    transition: 500ms;
    text-decoration: none;
}
.nav-item{
    color: var(--text-color);
    margin-left: 30px;
    
}
.nav-contact{
    color: var(--orange-color);
}
.nav-contact:hover{
    color: var(--dark-orange-color);
}


.ScrollUp1{
    top:-100px;
    transition: .5s;
}

.ScrollDown1{
    top: 0px;
    transition: 1s;
}
.ScrollUp2{
    top:-100px;
    transition: 1s;
    animation-delay: 200ms;
}

.ScrollDown2{
    top: var(--height-navbar);
    transition: 1s;
    animation-delay: 200ms;
}

section{
    min-height: 100vh;
}
.section-first{  
    background-color: var(--bg-color);
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 89% 95%,0 100%);
    
}
.section-first .banner{
    
    height: 100%;
    width: 100vw;
    position: absolute;
    background: url('StockPic.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(60%);
    display: flex;
    
}
.section-first .card{
    z-index: 2;
}


.card-outer {
    width: 500px;
    height: 400px;
    transition: all 0.2s;
    position: relative;
    transform: 
        perspective(5000px)
        rotateX(var(--rotateX))
        rotateY(var(--rotateY))
    ;
    z-index: 4;
    position: absolute;
    left: 22vw;
    bottom: 15vh;
  }
  
  .card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
  }
  
  .card:hover {
    transform: scale(1.04) rotate(1deg);
  }
  
  .circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(var(--circle-color-inner), var(--circle-color-outer));
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
  }
  
  .circle:nth-child(1) {
    top: -25px;
    left: -25px;
  }
  
  .circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
  }
  
  @keyframes move-up6 {
    to {
      transform: translateY(-10px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateY(10px);
    }
  }
.card-inner{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.card-inner h1{
    margin-bottom: 12px ;
}

.card-inner h3{
font-size: 15px;

}
.card-heading span{
    color: orange;    
}
.card-heading h1{
    text-align: left;
    margin-left: 20%;
    font-size: 30px;
}
.card-heading .first{
   text-align: center;
   margin-left: 0;
}

.card-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card-buttons button{
    background-color: var(--orange-color);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
}

.card-buttons .card-view-more-button{
    background-color: var(--orange-color); 
    color: black; 
    
}
.card-buttons .card-view-more-button:hover{
    background-color: var(--dark-orange-color);
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.card-buttons button:hover{
    cursor: pointer;
    color: white;
    background-color: var(--dark-orange-color);
    transition: .5s;
    
}
.card-buttons .card-call a{
    color: var(--orange-color);
}

.card-buttons .card-call a:hover{
    text-decoration: none;
    color: var(--dark-orange-color);
    transition: .5s;
}

.card-buttons h2{
    font-size: 15px;
}
.section-second{    
    background-color: var(--bg-color)
}

.section-second .section-second-columns{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    margin-left: 8%;
    margin-top: 10%;
}
.section-second .section-second-columns .col0{
    margin-right: 4%;
    width: 60%;
}

.section-second .section-second-columns .col0 img{
    filter: brightness(1.);
    filter: contrast(1.5);
    border-radius: 20px;
    animation: oszilate 3s infinite;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.section-second .section-second-columns .col1{
    width: 30%;
}

.section-second .section-second-columns .col1 h1{
    font-size: 30px;
    color: var(--dark-color);
    
    
}
.section-second .section-second-columns .col1 h3{
    font-size: 18px;
    color: var(--dark-color);
    text-align: justify;
    text-justify: inter-word;
}
@keyframes oszilate {
    0%   {
        filter: brightness(1);
        filter: contrast(1.5);
        -webkit-filter: brightness(1.0);
        -webkit-filter: contrast(1.5);
    }
    50%  {
        filter: brightness(.5);
        filter: contrast(0.9);
        -webkit-filter: brightness(0.5);
        -webkit-filter: contrast(0.9);
    }
    100% {
        filter: brightness(1);
        filter: contrast(1.5);
        -webkit-filter: brightness(1.0);
        -webkit-filter: contrast(1.5);
    }
}


.section-third{
    background-color: var(--bg-color);
}

.section-third .sectionTitle{
    color: var(--dark-color);
}

.pricing-Options{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.pricing-Options .options{
    margin: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.pricing-Options .options:hover{
    transform: translateY(-20px);
    transition: .7s;
    cursor: pointer;
    --lightness: 80%;
    background: #ffffff80;
    color: #000;
    outline: 1px solid rgb(255, 255, 255);
    box-shadow: inset 0 0 20px whitesmoke, inset 20px 0 20px var(--orange-color),
      inset -10px 0 20px var(--orange-color), inset 20px 0 300px var(--orange-color), inset -10px 0 300px #0ff,
      0 0 50px #fff, -10px 0 20px var(--orange-color), 10px 0 20px var(--orange-color);
    transition: all ease-in-out 0.3s;
}
.pack-container {
    position: relative;
    display: flex;
    max-width: 350px;
    flex-direction: column;
    border-radius: 12px;
    background-color: var(--modal-color);
    border: 1px solid #fff;
    padding: 1.6rem;
    color: #fff;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }
  
  .header {
    position: relative;
    margin: 0;
    margin-bottom: 2rem;
    overflow: hidden;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    padding-bottom: 1rem;
    text-align: center;
  }
  
  .title {
    display: block;
    font-family: sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    color: #fff
  }
  
  .price-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    font-family: sans-serif;
    font-size: 4.5rem;
    line-height: 1;
  }
  .pricy{
    color:var(--orange-color);
  }
  
  
  .price-container span:first-child {
    margin-top: 10px;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  
  .price-container span:last-child {
    align-self: flex-end;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  
  .lists {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .list {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .list span {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.24);
    background-color: rgba(255, 255, 255, 0.185);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .list span svg {
    height: 12px;
    width: 12px;
  }
  
  .list p {
    display: block;
    font-family: sans-serif;
  }
  
  .button-container {
    margin-top: 20px;
    padding: 0;
  }
  
  .button-container button {
    display: block;
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #000;
    outline: 0;
    border: 0;
    border-radius: 10px;
  }
  .button-container button:hover {
    background-color: var(--orange-color);
    cursor: pointer;
  }

  .section-fourth .columns, .section-fourth .columns1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 70vh;
  }

  .section-fourth .columns .col0,   .section-fourth .columns .col1
  , .section-fourth .columns1 .col0, .section-fourth .columns1 .col1{
    width: 50%;
    background-color: var(--modal-color);
    color: rgb(235, 221, 221);
  }

  .section-fourth .columns .col0{
    background: url('Teamwork.jpg');
    background-size: cover;
    background-position: center;
  }

  .section-fourth .columns .col1{
    
    color: rgb(235, 221, 221);
  }


  .section-fourth .columns .col1 h1{
    margin: 20px;
    margin-bottom: 40px;
    margin-top: 80px;
  }
  .section-fourth .columns .col1 h3{
    margin: 20px;
    padding: 20px;
    text-align: justify;
    text-justify: inter-word;
    width: 70%;
    margin-left: 15%;
    font-size: 25px;
  }

  .section-fourth .columns1 .col1{
    background-color: white;
  }
  .section-fourth .columns1 .col0{
    background-color: rgb(255, 218, 185);
    color: var(--modal-color);
    
  }

  .section-fourth .columns1 .col0 h1{
    margin: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .section-fourth .columns1 .col0 h3{
    margin: 20px;
    padding: 20px;
    text-align: justify;
    text-justify: inter-word;
    width: 70%;
    margin-left: 15%;
    font-size: 25px;
  }




  .profile-card {
    position: relative;
    width: 200px;
    height: 300px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  
  
  .profile-card {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .profile-card:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  .section-fourth .columns1 .col1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
  }

  .section-fourth .columns1 .col1 .profile-card{
    top: 25%;
    margin: 20px;
  }
